<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title th:text="#{client.header.list}"></title>
</head>
<body>
<div th:insert="~{menunavy::navy}"></div>
<div class="container mt-5" th:with="sort=${clients.getSort().toString().replace(': ', ',')}, asc=${sort.contains('ASC')},
 icon=${asc ? 'fa-sort-asc' : 'fa-sort-desc'}, order=${asc ? 'DESC' : 'ASC'}, faSort='fa-sort'">
    <h1 th:text="#{client.header.list}"></h1>
    <table class="table table-bordered">
        <thead>
        <tr class="table-dark">
            <th>
                <a class="link-light link-underline-opacity-0"
                   th:href="@{/clients(page=${clients.number}, sort='id,' + ${order})}"
                   th:text="#{object.user.id}"/>
                <i class="fa" th:classappend="${sort.contains('id') ? icon : faSort}"></i>
            </th>
            <th>
                <a class="link-light link-underline-opacity-0"
                   th:href="@{/clients(page=${clients.number}, sort='name,' + ${order})}"
                   th:text="#{object.user.name}"/>
                <i class="fa" th:classappend="${sort.contains('name') ? icon : faSort}"></i>
            </th>
            <th>
                <a class="link-light link-underline-opacity-0"
                   th:href="@{/clients(page=${clients.number}, sort='email,' + ${order})}"
                   th:text="#{object.user.email}"/>
                <i class="fa" th:classappend="${sort.contains('email') ? icon : faSort}"></i>
            </th>
            <th>
                <a class="link-light link-underline-opacity-0"
                   th:href="@{/clients(page=${clients.number}, sort='shippingAddress,' + ${order})}"
                   th:text="#{object.client.shippingAddress}"></a>
                <i class="fa" th:classappend="${sort.contains('shippingAddress') ? icon : faSort}"></i>
            </th>
            <th>
                <a class="link-light link-underline-opacity-0"
                   th:href="@{/clients(page=${clients.number}, sort='enabled,' + ${order})}"
                   th:text="#{object.client.enabled}"></a>
                <i class="fa" th:classappend="${sort.contains('enabled') ? icon : faSort}"></i>
            </th>
            <th th:text="#{object.operations}"/>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client: ${clients}">
            <td th:text="${client.id}"/>
            <td th:text="${client.name}"/>
            <td th:text="${client.email}"/>
            <td th:text="${client.shippingAddress}"/>
            <td th:text="${client.enabled}"/>
            <td>
                <form class="d-inline" th:action="@{/clients/toggle}" th:method="patch">
                    <input type="hidden" name="id" th:value="${client.id}"/>
                    <button type="submit" class="btn btn-warning btn-sm"
                            th:text="${client.enabled} ? #{btn.lock} : #{btn.unlock}"></button>
                </form>
                <div class="d-inline" sec:authorize="hasRole('ADMIN')">
                    <a class="btn btn-warning btn-sm" th:href="@{/clients/edit(id=${client.id})}"
                       th:text="#{btn.edit}"/>
                    <form class="d-inline" th:action="@{/clients/delete}" th:method="delete"
                          onsubmit="return confirm('Are you sure you want to delete this object?');">
                        <input type="hidden" name="id" th:value="${client.id}"/>
                        <button type="submit" class="btn btn-danger btn-sm" th:text="#{btn.delete}"></button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary mb-3" sec:authorize="hasRole('ADMIN')" th:href="@{clients/add}"
       th:text="#{object.client.new}"/>

    <!-- Pagination Controls -->
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item" th:classappend="${clients.hasPrevious()} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/clients(page=${clients.number - 1}, sort=${sort})}">
                    <i class="fa fa-chevron-left"></i>
                </a>
            </li>
            <li class="page-item" th:classappend="${i == clients.number} ? 'active' : ''"
                th:each="i : ${#numbers.sequence(0, clients.totalPages - 1)}">
                <a class="page-link" th:href="@{/clients(page=${i}, sort=${sort})}"
                   th:text="${i + 1}"></a>
            </li>
            <li class="page-item" th:classappend="${clients.hasNext()} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/clients(page=${clients.number + 1}, sort=${sort})}">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div th:insert="~{footer::footer}"></div>
</body>
</html>