<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title th:text="#{appliance.header.list}"></title>
</head>
<body>
<div th:insert="~{menunavy::navy}"></div>
<div class="container mt-5" th:with="sort=${appliances.getSort().toString().replace(': ', ',')},asc=${sort.contains('ASC')},
    icon=${asc ? 'fa-sort-asc' : 'fa-sort-desc'}, order=${asc ? 'DESC' : 'ASC'}, faSort='fa-sort'">
    <h1 th:text="#{appliance.header.list}"></h1>
    <table class="table table-bordered">
        <thead>
        <tr class="table-dark">
            <th>
                <a class="link-light link-underline-opacity-0"
                   th:href="@{/appliances(page=${appliances.number}, sort='id,' + ${order})}"
                   th:text="#{object.appliance.id}"/>
                <i class="fa" th:classappend="${sort.contains('id') ? icon : faSort}"></i>
            </th>
            <th>
                <a class="link-light link-underline-opacity-0"
                   th:href="@{/appliances(page=${appliances.number}, sort='name,' + ${order})}"
                   th:text="#{object.appliance.name}"/>
                <i class="fa" th:classappend="${sort.contains('name') ? icon : faSort}"></i>
            </th>
            <th>
                <a class="link-light link-underline-opacity-0"
                   th:href="@{/appliances(page=${appliances.number}, sort='category,' + ${order})}"
                   th:text="#{object.appliance.category}"/>
                <i class="fa" th:classappend="${sort.contains('category') ? icon : faSort}"></i>
            </th>
            <th>
                <a class="link-light link-underline-opacity-0"
                   th:href="@{/appliances(page=${appliances.number}, sort='model,' + ${order})}"
                   th:text="#{object.appliance.model}"/>
                <i class="fa" th:classappend="${sort.contains('model') ? icon : faSort}"></i>
            </th>
            <th>
                <a class="link-light link-underline-opacity-0"
                   th:href="@{/appliances(page=${appliances.number}, sort='manufacturer,' + ${order})}"
                   th:text="#{object.appliance.manufacturer}"/>
                <i class="fa" th:classappend="${sort.contains('manufacturer') ? icon : faSort}"></i>
            </th>
            <th>
                <a class="link-light link-underline-opacity-0"
                   th:href="@{/appliances(page=${appliances.number}, sort='powerType,' + ${order})}"
                   th:text="#{object.appliance.powerType}"/>
                <i class="fa" th:classappend="${sort.contains('powerType') ? icon : faSort}"></i>
            </th>
            <th>
                <a class="link-light link-underline-opacity-0"
                   th:href="@{/appliances(page=${appliances.number}, sort='characteristic,' + ${order})}"
                   th:text="#{object.appliance.characteristic}"/>
                <i class="fa" th:classappend="${sort.contains('characteristic') ? icon : faSort}"></i>
            </th>
            <th>
                <a class="link-light link-underline-opacity-0"
                   th:href="@{/appliances(page=${appliances.number}, sort='description,' + ${order})}"
                   th:text="#{object.appliance.description}"/>
                <i class="fa" th:classappend="${sort.contains('description') ? icon : faSort}"></i>
            </th>
            <th>
                <a class="link-light link-underline-opacity-0"
                   th:href="@{/appliances(page=${appliances.number}, sort='power,' + ${order})}"
                   th:text="#{object.appliance.power}"/>
                <i class="fa" th:classappend="${sort.contains('power') ? icon : faSort}"></i>
            </th>
            <th>
                <a class="link-light link-underline-opacity-0"
                   th:href="@{/appliances(page=${appliances.number}, sort='price,' + ${order})}"
                   th:text="#{object.appliance.price}"/>
                <i class="fa" th:classappend="${sort.contains('price') ? icon : faSort}"></i>
            </th>
            <th th:text="#{object.operations}"/>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appliance: ${appliances}">
            <td th:text="${appliance.id}"/>
            <td th:text="${appliance.name}"/>
            <td th:text="${appliance.category}"/>
            <td th:text="${appliance.model}"/>
            <td th:text="${appliance.manufacturer.getName()}"/>
            <td th:text="${appliance.powerType}"/>
            <td th:text="${appliance.characteristic}"/>
            <td th:text="${appliance.description}"/>
            <td th:text="${appliance.power}"/>
            <td th:text="${appliance.price}"/>
            <td>
                <a class="btn btn-warning btn-sm" th:href="@{/appliances/edit(id=${appliance.id})}"
                   th:text="#{btn.edit}"/>
                <form class="d-inline" th:action="@{/appliances/delete}" th:method="delete"
                      onsubmit="return confirm('Are you sure you want to delete this object?');">
                    <input type="hidden" name="id" th:value="${appliance.id}"/>
                    <button type="submit" class="btn btn-danger btn-sm" th:text="#{btn.delete}"></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary mb-3" th:href="@{appliances/add}" th:text="#{object.appliance.new}"/>

    <!-- Pagination Controls -->
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item" th:classappend="${appliances.hasPrevious()} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/appliances(page=${appliances.number - 1}, sort=${sort})}">
                    <i class="fa fa-chevron-left"></i>
                </a>
            </li>
            <li class="page-item" th:classappend="${i == appliances.number} ? 'active' : ''"
                th:each="i : ${#numbers.sequence(0, appliances.totalPages - 1)}">
                <a class="page-link" th:href="@{/appliances(page=${i}, sort=${sort})}"
                   th:text="${i + 1}"></a>
            </li>
            <li class="page-item" th:classappend="${appliances.hasNext()} ? '' : 'disabled'">
                <a class="page-link"
                   th:href="@{/appliances(page=${appliances.number + 1}, sort=${sort})}">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div th:insert="~{footer::footer}"></div>
</body>
</html>