<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title th:text="#{object.appliance.new}"></title>
</head>
<body>
<div th:insert="~{menunavy::navy}"></div>
<div class="container mt-4">
    <h1 th:text="#{object.appliance.new}"></h1>
    <form th:action="@{add-appliance}" th:object="${appliance}" method="post">
        <div class="mb-3">
            <label for="name" th:text="#{object.appliance.name}"/>
            <input class="form-control" id="name" required th:field="*{name}" type="text">
        </div>
        <div class="mb-3">
            <label for="category" th:text="#{object.appliance.category}"/>
            <select class="form-select" id="category" required th:field="*{category}">
                <option th:each="category : ${categories}" th:text="${category}" th:value="${category}"/>
            </select>
        </div>
        <div class="mb-3">
            <label for="model" th:text="#{object.appliance.model}"/>
            <input class="form-control" id="model" required th:field="*{model}" type="text">
        </div>
        <div class="mb-3">
            <label for="manufacturer" th:text="#{object.appliance.manufacturer}"/>
            <select class="form-select" id="manufacturer" required th:field="*{manufacturer}">
                <option th:each="manufacturer : ${manufacturers}" th:text="${manufacturer.getName()}"
                        th:value="${manufacturer.getId()}"/>
            </select>
        </div>
        <div class="mb-3">
            <label for="powerType" th:text="#{object.appliance.powerType}"/>
            <select class="form-select" id="powerType" required th:field="*{powerType}">
                <option th:each="powerType : ${powerTypes}" th:text="${powerType}" th:value="${powerType}"/>
            </select>
        </div>
        <div class="mb-3">
            <label for="characteristic" th:text="#{object.appliance.characteristic}"/>
            <input class="form-control" id="characteristic" required th:field="*{characteristic}" type="text">
        </div>
        <div class="mb-3">
            <label for="description" th:text="#{object.appliance.description}"/>
            <input class="form-control" id="description" required th:field="*{description}" type="text">
        </div>
        <div class="mb-3">
            <label for="power" th:text="#{object.appliance.power}"/>
            <input class="form-control" id="power" required th:field="*{power}" min="1" type="number">
        </div>
        <div class="mb-3">
            <label for="price" th:text="#{object.appliance.price}"/>
            <input class="form-control" id="price" required step="0.01" min="0.01" th:field="*{price}"
                   type="number">
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" th:value="#{btn.submit}" type="submit"/>
            <a class="btn btn-secondary" th:href="@{/appliances}" th:text="#{btn.cancel}"></a>
        </div>
    </form>
</div>
<div th:insert="~{footer::footer}"></div>
</body>
</html>